@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --orange-clr: #e96c28;
  --white-clr: #fff;
  --black-clr: #000;
  --grey-clr: #636363;
  --light-gery-clr: #c4c4c4;
  --dawn-pink: #ffa7e5;
  --frosted-mint: #dcfef9;
}
/* header part */
.logo-txt {
  font-size: 1.5rem;
  color: var(--orange-clr);
  font-weight: bold;
}
a {
  text-decoration: none;
}
span {
  color: var(--black-clr);
}
.navlist {
  display: flex;
  align-items: center;
  gap: 2rem;
}
li {
  list-style: none;
}
.navlinks {
  color: var(--black-clr);
  font-weight: 500;
}
.active,
.navlinks:hover {
  color: var(--orange-clr);
}
/* .icons-link{
    background:var(--orange-clr);
    width: 2.3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: .5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.3rem;
}
.fa-solid{
    font-size: 1.1rem;
    color:var(--white-clr);

} */
.icons-link {
  background: var(--orange-clr);
  width: 2.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: inline-block; 
  text-align: center;
  line-height: 2.3rem; 
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.icons-link:hover {
  transform: translateY(-10%);
}

.fa-solid {
  font-size: 1.1rem;
  color: var(--white-clr);
  line-height: inherit; 
  vertical-align: middle;
}


header {
  height: 13vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.container{
    width: 80%;
    margin: auto;

}
.hamburger{
    cursor: pointer;
    display:none;
}
.burger{
    background: var(--black-clr);
    width: 2.3rem;
    height: .25rem;
    margin: .3rem;
    border-radius: 2rem;
}
/* section part */
/* Hero section */
.hero-section{
    height: calc(100vh - 13vh);
    /* background: gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    background: green;
    flex: 1;
}
.image-container{
    /* background: blue; */
    flex: 1;
}
img{
    max-width: 100%;
    height: auto;
}