.logo{
    width: 20%;
    margin: auto;
    margin-top: 20px;
    /* border: 2px solid; */
}
.logo>img{
    width: 100%;

}
#search{
    margin-top: 40px;
    margin-left: 580px;
    
    
}
#main{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   margin-top: 50px;
}
#main div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}